<div class="home-title">
    <ion-slide-box does-continue="true" auto-play="true" pager-click="doSomething(index)" show-pager="true" slider="data.slider" >
      <ion-slide ng-click="goPage(slide.list,$index+1)" ng-repeat="slide in slides">
        <img ng-src={{slide.img}}>
        <div class="home-slides">{{slide.text}}</div>
      </ion-slide>
    </ion-slide-box>
</div>
<div class="home-category">
  <div class="home-list" ng-repeat="list in slides" ng-click="goPage(list.list,$index+1)">{{list.list}}</div>
</div>
