<div class="port-header">
  <div ng-click="scrollTop('project{{$index+1}}',$index)" 
       ng-repeat="list in portfolioList" 
       ng-class="{portcolor: hover || $index==clickItem}"  
       ng-mouseenter="hover = true"
       ng-mouseleave="hover = false"
  >
    {{list.name}}
  </div>
</div>
<div id="project{{$index+1}}" ng-repeat="list in portfolioList">
  <div class="port-slide-wrap">
    <ion-slide-box does-continue="true" pager-click="doSomething(index)" show-pager="true">
        <ion-slide class="port-slide" ng-repeat="img in list.img track by $index">
          <img ng-src={{img}} class="port-slide-img">
        </ion-slide>
    </ion-slide-box>
  </div>
  <div class="port-explain-wrap">
    <text style="font-size:2.5em; margin-right: 2%;font-weight:bold;color:#000093;">{{list.name}}</text>
    <span>{{list.period}}</span>
    <p style=" font-size: 1.5em; margin-top: 2%; ">▶ {{list.explain}}</p>
    <text>팀원 : {{list.member}}</text>
    <span style="color: #747474;">- 기여도 : {{list.contribute}} </span>
    <p style="font-size: 1.5em;margin-top: 2%; font-weight:bold;">작업 리스트</p>
    <li ng-repeat="work in list.working">{{work}}</li>
    <p style="font-size: 1.5em;margin-top: 2%;font-weight:bold;">사용 기술</p>
    <li style="float:left; margin-right: 5%;" ng-repeat="skill in list.skills">{{skill}}</li>
  </div>
</div>
