<div class="fixed-header" id="myNavbar">
  <div ng-click="scrollTop('section1')">송파패드</div>
  <div ng-click="scrollTop('section2')">마스터패드</div>
  <div ng-click="scrollTop('section3')">트레이너패드</div>
  <div ng-click="scrollTop('section4')">e-brosure</div>
  <div ng-click="scrollTop('section5')">CRM</div>
  <div ng-click="scrollTop('section6')">아동사회성검사앱</div>
</div>
<ion-scroll delegate-handle="mainScroll">
  <div id="section1" ng-click="scrollTop('section3')" class="container-fluid aa">
    <h1>송파패드</h1>
    <p>Click on the different Section links in the navbar to see the smooth scrolling effect.</p>
  </div>
  <div id="section2" class="container-fluid aa">
    <h1>마스터패드</h1>
    <p>Click on the different Section links in the navbar to see the smooth scrolling effect.</p>
  </div>
  <div id="section3" ng-click="scrollTop('section3')" class="container-fluid aa">
    <h1>트레이너패드</h1>
    <p>Click on the different Section links in the navbar to see the smooth scrolling effect.</p>
  </div>
  <div id="section4" ng-click="scrollTop('section3')" class="container-fluid aa">
    <h1>e-brosure</h1>
    <p>Click on the different Section links in the navbar to see the smooth scrolling effect.</p>
  </div>
  <div id="section5" ng-click="scrollTop('section3')" class="container-fluid aa">
    <h1>CRM</h1>
    <p>Click on the different Section links in the navbar to see the smooth scrolling effect.</p>
  </div>
  <div id="section6" ng-click="scrollTop('section3')" class="container-fluid aa">
    <h1>아동사회성검사앱</h1>
    <p>Click on the different Section links in the navbar to see the smooth scrolling effect.</p>
  </div>
</ion-scroll>
