<div class="profile-wrap">
  <div class="intro">
    <div>hello my name is leenzze</div>
    <div>i'm frontend developer</div>
  </div>
  <div class="list1">
    <div class="image"><img src="img/profile.jpg"></div>
    <div class="text">
      <p>name : 이은지</p>
      <p>age : 1992년생(25살)</p>
      <p>sex : 여</p>
      <p>address : 서울시 광진구 자양동(구의역 근처)</p>
      <p>email : leenzze@gmail.com</p>
    </div>
  </div>
  <div class="list2">
    <div class="text">
      <p>가치관/신념</p>
      <p>ㅇ룽루ㅑㄹ댜로갸ㅐ호랴ㅐㅗㅎㄹ우ㅠ러ㅜㅠ랴엏야호ㅑㅐ돟ㄹ우퓨ㅓㅜ퓨ㅣㅍ처ㅠㅜㅇㄹ니ㅑ헐;ㅐ홍루ㅠㅟㅓㅎ류ㅗ;ㅇ루ㅠㅓㅇ루ㅠㅏㅓㅇ류허ㅏㅣㅇㄹ휭루ㅠㅓㅍㄹ유피어류핑류히ㅕㅑㅠㅣㄹ 퍼ㅠㅇㄹㅇ룽ㄴ;룽ㄴ;루ㅑㄴ욿;ㅇ냐ㅐㄹㅎㅇ호ㅑㅇ롷;ㄷ궇ㅍㄹ우ㅠ풍래ㅠㅜㅇ라ㅠㅜㅇ;루ㅠ;ㅇ루ㅠ;ㅐㄷ갸ㅜㅠㅐㅑㄱㄷ루ㅠㅐㅑ우ㅠㅐㅑ두규ㅐㅑ두 ㅇㄴ리ㅏㅜㄴㅇ;ㅣㅏ루;ㄴ웋ㄴ우해ㅑ두개ㅑ우</p>
    </div>
    <div class="image">
      <img src="img/profile.jpg">
    </div>
  </div>
</div>
<!---->