@font-face {
  font-family: 'basicfont';
  src: url('../css/basicfont.ttf');
  src: url('../css/basicfont.ttf') format('opentype');
}

@media (max-width:900px) {html{font-size:10px; display: none;}}
@media (min-width:880px)and (max-width:1920px){html{font-size:24px;}}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'basicfont';
}

.wrap {
  width: 100%;
  height: 91%;
  overflow:auto;
  position: relative;
}

.common-headerbar {
  border-bottom: solid 3px #FFBB00;
	height: 9%; 
	color: #003399; 
	padding: 0 5%; 
	width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.headerbar-menu {
  width: 10%; 
  float:left;
}

.color {
  color: #FFBB00;
}

.headerbar-menu i {
  font-size: 1.4em;
  transition: all 0.2s linear;
}

/* sildes custom */

.slider-pager .slider-pager-page {
  color : #BDBDBD;
  opacity: 1;
  margin: 0px 0.5em;
}

.slider-pager .slider-pager-page.active {
  color: #FFBB00;
}

div.slider {
  width: 80%;
  height: 100%;
}

ion-slide {
  overflow: hidden ;
  width: 100% ;
}

/* home */
.home-title {
  width: 100%; 
  height:60%; 
   display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.5em;
  padding-top: 2%;
}

.home-slide-img {
  width:100%;
}

.home-slides {
  position: absolute;
  top: 50%;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #000;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  height:15%;
}

.home-category {
  width:100%;  
  height: 40%; 
  padding: 5% 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-list {
  width:20%; 
  height : 100%; 
  background-color: #FFE08C; 
  float:left;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  margin: 0 2%;
  border-radius: 20%;
}

/* profile */

.profile-wrap {
  width: 100%;
  height: 100%;
}

.profile-wrap .intro {
  height: 15%;
  width:100%;
  font-size: 1.5em;
  background-color: orange;
  animation: example 5s linear 2s 3 alternate;
}

@keyframes example {
    from {background-color: orange;}
    to {background-color: lightyellow;}
}

.profile-wrap .intro div {
  width:100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.profile-wrap .intro div:last-child {
  font-size: 1em;
}

.profile-wrap .list1 {
  height: 40%;
  width:100%;
  float:left;
}

.profile-wrap .list1 .image {
  width: 30%;
  float:left;
  padding: 3% 7%;
}

.profile-wrap .list1 .image img {
  width: 100%;
}

.profile-wrap .list1 .text {
  width: 70%;
  font-size: 2em;
  padding: 2% 0;
}

.profile-wrap .list1 .text p {
  margin-bottom: 3%;
}

.profile-wrap .list2 {
  height: 40%;
  width:100%;
  float:left;
}

.profile-wrap .list2 .text {
  width: 70%;
  height: 100%;
  font-size: 2em;
  padding: 5% 0;
  text-align: right;
  float:left;
}

.profile-wrap .list2 .text p {
  margin-bottom: 3%;
}

.profile-wrap .list2 .image {
  width: 30%;
  float:left;
  padding: 3% 7%;
  height: 100%;
}

.profile-wrap .list2 .image img {
  width: 90%;
}

/* portfolio */

.port-header {
  background-color: #000093;
  height: 8%;
  position: fixed;
  width:100%;
  color:white;
  z-index:1000;
}

.port-header > div {
  height: 100%;
  font-size: 2em;
  align-items: center;
  display: flex;
  float: left;
  padding: 2%;
}

.portcolor {
  border-bottom: 0.2em solid #FFBB00;
}

#project1, #project2, #project3, #project4, #project5, #project6 {
  padding:8% 0;
  width:100%;
  height:100%;
  color: #000; 
  border-top: 1px solid #5D5D5D;
  background-color: #FFF1E6;
}

.port-slide-wrap {
  width:50%;
  height:100%;
  float: left;
  display: flex;
  justify-content: center;
}

.port-slide {
  display: flex;
  align-items: center;
}

.port-slide-img {
  width:100%;
}

.port-explain-wrap {
  width:100%;
  height:100%;
  padding-right: 5%;
}

/*skills*/

.skill-wrap {
  width:100%;
  height:100%;
  padding: 2% 0;
}

.skill-title {
  width: 100%;
  height: 15%;
  padding: 2% 5%;
  font-size: 3em;
}

.skill-list {
  width: 28%;
  height: 20%;
  border: solid 1px #EAEAEA;
  float : left;
  margin: 0 2.5% 2%;
}

.skill-list-text {
  width:100%;
  height: 80%;
  background-color: lightpink;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.skill-list-chart {
  width:100%;
  height: 20%;
  background-color: red;
}

.chart {
  width:100%;
  height: 20%;
  background: #eee;
  padding: 1%;
}

.chart div {
  width: 0;
  height: 100%;
  padding: 0 3%;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  font-size: 1.1em;
  background-color: navy;
  padding-right: 3%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*experience*/

.exp-wrap {
  width: 100%;
  height: 100%;
  background-color: #FFF1E6;
  padding: 0 2%;
}

.circle {
  width: 50px;
  line-height: 50px;
  color: #bacdec;
  font-family: 'novocento';
  font-size: 2em;
  text-align: center;
  background: #19273d;
  border-radius: 50px;
  margin: 3% 1.2% 20%;
  position: relative;
  font-weight: bold;
}

.item-wrap {
  height: 33%;
  padding-top: 1%;
}

.item-circle {
  width: 10%;
  height: 100%;
  float: left;
  padding: 1% 2% 0;
}

.item-header {
  height: 20%;
  border-bottom: 2px solid gray;
  font-size: 1.8em;
  padding: 1% 2%;
}

.item-content {
  height: 80%;
  padding: 1% 2%;
  font-size: 1.2em;
}
